/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 600up Stylesheet
******************************************************************/	
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site {
	.wrap;
}

/* Small menu */
.menu-toggle {
	display: none;
}
.nav-menu {
	display: inline-block;
}