/******************************************************************
Site Name: Tabula Rasa
Author: Kenny Scott
Stylesheet: 600up Stylesheet
******************************************************************/
.menu-toggle {
	display: none;
}
.wrap {
	.max-width(1000px); 
	margin: 0 auto 0;	
}
.site {
	.wrap;
}