//FONT
//LESS CSS mixins for a golden scale typography rhythm based on Chris Pearson formulas http://www.pearsonified.com/2011/12/golden-scale-typography.php
//http://washmatique.fr/blog/2014/04/05/golden-scale-typography-less-css-mixins.html
	
$font-size: $base-num / $scale;
$line-height: $base-num * .1rem; 

// Jumping from octave to octave can be jarring
// So "notes" werere added
// http://spencermortensen.com/articles/typographic-scale/
// https://www.layoutgridcalculator.com/typographic-scale/

$base-scale: $scale;
$scale: sqrt($scale);

$mag0: 1;
$mag1: $scale;
$mag2: $scale * $scale;
$mag3: $scale * $scale * $scale;
$mag-1: $scale / $scale;

@mixin golden-text($mag) {
	font-size: round( $font-size * $mag ) * 1px;
	font-size: round( $font-size * $mag ) * .1rem;
	line-height: round( ( $font-size * $mag ) * $base-scale ) * 1px;
	line-height: round( ( $font-size * $mag ) * $base-scale ) * .1rem;
}

@mixin content-text() {
	@include golden-text($mag0);
}
 
@mixin title() {
	@include golden-text($mag3);	 
} 
  
@mixin headline() {
	@include golden-text($mag2);
 
}
 
@mixin sub-headline() {
	@include golden-text($mag1);
}
 
@mixin secondary-text() {
	@include golden-text($mag-1);
}

@mixin custom-ratio( $content-width, $scale, $mag ) {
	$base-num: round(sqrt($content-width) / $scale);
	@include golden-text($mag,$base-num);
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $heading-font;
	text-rendering: optimizelegibility;
	clear: both;
    margin: $base-spacing 0 $small-spacing;
    
	a {
		text-decoration: none;
	}
} 

h1.entry-title{
    line-height: 1;
}

h1 {
    @include title();
}
h2 {
    @include headline();
}
h3 {
    @include sub-headline();
}
h4 {
    @include content-text();
}
h5 {
    @include secondary-text();
}