// Mixins - Settings
/* 
Sets up the main variables for the site.
Colors, text, and fonts
*/

@import "mixins/_mixins-colors";  

// TYPOGRAPHY
$sans-serif:        "Open Sans", Helvetica, Arial, sans-serif;
$serif:             "PT Serif", Georgia, Cambria, Times New Roman, Times, serif; 
$body-font:			$sans-serif;
$heading-font:	    "Open Sans Condensed", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

// COLORS
$black:             #444;
$grey:				#757575;
$white:             color(white); 

$prim-color:      	$white; //
$sec-color:         $grey; //green
$tert-color:      	$black; //blue
 
$color__text:				$black;

$menu-color: 			$sec-color;
$menu-bground: 			$sec-color;
$sidebar-bground:		$tert-color;
    
$link-color:         #810000; 
$link-hover:         darken($link-color, 9%);
$link-visited:        $link-color;
 
$button-color:     	$sec-color; //cyan
$button-text:     	$white; //cyan

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$mobile__header-color: $white;
$mobile__header-bground: darken($prim-color, 10%);
$mobile__menu-color: $white;
$mobile__menu-bground: darken($prim-color, 10%);

// Square Root function to get line height
@function sqrt($r) {
	$x0: 1;
	$x1: $x0;
   
	@for $i from 1 through 10 {
	  $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
	  $x0: $x1;
	}
   
	@return $x1;
}

// Scale Optinos 
$double-octave:     4;
$major-twelfth:     3;
$major-eleventh:    2.667;
$major-tenth:       2.5;
$octave:            2;
$major-seventh:     1.875;
$minor-seventh:     1.778;
$major-sixth:       1.667;
$phi:               1.618;
$minor-sixth:       1.6;
$fifth:             1.5;
$augmented-fourth:  1.414;
$fourth:            1.333;
$major-third:       1.25;
$minor-third:       1.2;
$major-second:      1.125;
$minor-second:      1.067;

//Grid
$max-width:		    1200px; 
$max-width-2:		1000px; 
$content-width:		770;
$scale: 			$phi;

$base-num: sqrt( $content-width );

$mag0: 1;
$mag1: $scale;
$mag2: $scale * $scale;
$mag3: $scale * $scale * $scale;
$mag4: $scale * $scale * $scale * $scale;
$mag-1: $scale / $scale;
$mag-2: $scale / $scale / $scale;
$mag-3: $scale / $scale / $scale / $scale;
$mag-4: $scale / $scale / $scale / $scale / $scale;
$mag-5: $scale / $scale / $scale / $scale / $scale  / $scale;

$scale0: $base-num * .1rem;  

$scale1:  $base-num * $mag1 * .1rem;
$scale2:  $base-num * $mag2 * .1rem;
$scale3:  $base-num * $mag3 * .1rem;
$scale4:  $base-num * $mag4 * .1rem;

$scale-1:  $base-num * $mag-2 * .1rem;
$scale-2:  $base-num * $mag-3 * .1rem;
$scale-3:  $base-num * $mag-4 * .1rem;
$scale-4:  $base-num * $mag-5 * .1rem;

$border-radius: 10px;
$base-z-index: 0; 
$base-border: 1px; 

///////////////////////////////////////////
// Mixins
///////////////////////////////////////////
@mixin wrap {
	max-width: $max-width; 
	margin: 0 auto 0; 
}  

@mixin wrap-2 {
	max-width: $max-width-2; 
	margin: 0 auto 0; 
}  