// Mixins - Settings
/* 
Sets up the main variables for the site.
Colors, text, and fonts
*/

@import "mixins/_mixins-colors";  

// TYPOGRAPHY
$sans-serif:        "Open Sans", Helvetica, Arial, sans-serif;
$serif:             "PT Serif", Georgia, Cambria, Times New Roman, Times, serif; 
$body-font:			$sans-serif;
$heading-font:	    "Open Sans Condensed", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

// COLORS
$black:             #444;
$grey:				#757575;
$white:             color(white); 

$prim-color:      	$white; //
$sec-color:         $grey; //green
$tert-color:      	$black; //blue
 
$color__text:				$black;

$menu-color: 			$sec-color;
$menu-bground: 			$sec-color;
    
$link-color:         #810000; 
$link-hover:         darken($link-color, 9%);
$link-visited:        $link-color;
 
$button-color:     	$sec-color; //cyan
$button-text:     	$white; //cyan

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$mobile__header-color: $white;
$mobile__header-bground: darken($prim-color, 10%);
$mobile__menu-color: $white;
$mobile__menu-bground: darken($prim-color, 10%);

//Other ratios 
$double-octave:     4;
$major-twelfth:     3;
$major-eleventh:    2.667;
$major-tenth:       2.5;
$octave:            2;
$major-seventh:     1.875;
$minor-seventh:     1.778;
$major-sixth:       1.667;
$phi:               1.618;
$minor-sixth:       1.6;
$fifth:             1.5;
$augmented-fourth:  1.414;
$fourth:            1.333;
$major-third:       1.25;
$minor-third:       1.2;
$major-second:      1.125;
$minor-second:      1.067;

$ratio: $phi;

// Font Sizes
$base-font-size: 62.5%;

//Grid
$max-width:		    1200px; 
$content-width:		770;

// Line height
//$base-line-height: 1.5;
//$base-line-height: 1rem * $ratio;
//$heading-line-height: 1.2;

// Other Sizes
@function sqrt($r) {
	$x0: 1;
	$x1: $x0;
   
	@for $i from 1 through 10 {
	  $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
	  $x0: $x1;
	}
   
	@return $x1;
  }

$golden-font-size: sqrt( $content-width ) / $ratio;
$base-spacing: round( $golden-font-size * $ratio ) * .1rem; 


$border-radius: 3px;
$small-spacing: $base-spacing / 2; 
$base-z-index: 0; 
$base-border: 1px; 



@mixin wrap {
	max-width: $max-width; 
	margin: 0 auto 0; 
}  