.wp-caption {
	padding: $scale-1;
	max-width: 100%;

	.wp-caption-text {}
}
.wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	@include secondary-text();
	color: $grey;
	text-align: center;
}