/******************************************************************
Site Name: 
Author: 
Stylesheet: Login Stylesheet

This stylesheet only affects the login page not admin or front-end.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import "mixins/_mixins-settings"; 

body.login {   
	/*
	This is the Wordpress logo in the admin area.
	You'll have to load your own images and mess
	with the width and height.
	*/

	background: $prim-color; 

	h1 a {
		background: url(../images/login-logo.png) no-repeat top center; /* make sure to replace this! */ 
		width: 100%;  
		height: 12rem; 
		text-indent: -9999px;
		overflow: hidden;
		padding-bottom: 15px;
		display: block;
		background-size: contain;
	}
	
	form {
		background: white;

		.input {}
	}
	
	
	/*
	You'll have to override some of the default styles
	but since we're referencing the id, it should be easy.
	*/
	#wp-submit {} /* login button*/
} 