/* -------------------------------------------------------------
footer#colophon .site-footer
	.inner-footer
-------------------------------------------------------------- */
.site-footer {
	clear: both;
	background: $sec-color;

	.wrapper {
		@include wrap;
	}

	.footer-top {
		padding: $scale0;
		text-align: center;
	}
	.footer-bottom {

	}
	.inner-footer {}
	.entry-meta {	}
	a {}	
	ul {
		li {
			a {}
			&:first-child {}
			&:last-child {}
		}
	}
}